services:

  api:
    build:
      context: ../api
      dockerfile: ../infra/docker/api.Dockerfile
    container_name: attendance_api
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/attendance_db
      - PORT=5000
    volumes:
      - ../api:/app
      - /app/node_modules
    command: npm run dev

  employee-app:
    build:
      context: ../frontendEmployee
      dockerfile: ../infra/docker/frontendEmployee.Dockerfile
    container_name: attendance_employee
    ports:
      - "5173:5173"
    depends_on:
      - api
    command: npm run dev -- --host
    environment:
      - VITE_API_URL=http://attendance_api:5000

  manager-app:
    build:
      context: ../frontendManager
      dockerfile: ../infra/docker/frontendManager.Dockerfile
    container_name: attendance_manager
    ports:
      - "5174:5174"
    volumes:
      - ../frontendManager:/app
      - /app/node_modules


