services:
  mongo:
    image: mongo:6.0
    container_name: attendance_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ../api
      dockerfile: ../infra/docker/api.Dockerfile
    container_name: attendance_api
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/attendance_db
      - PORT=5000
    depends_on:
      - mongo
    volumes:
      - ../api:/app
      - /app/node_modules
    command: npm run dev

  employee-app:
    build:
      context: ../frontendEmployee
      dockerfile: ../infra/docker/frontendEmployee.Dockerfile
    container_name: attendance_employee
    ports:
      - "5173:5173"
    volumes:
      - ../frontendEmployee:/app
      - /app/node_modules

  manager-app:
    build:
      context: ../frontendManager
      dockerfile: ../infra/docker/frontendManager.Dockerfile
    container_name: attendance_manager
    ports:
      - "5174:5174"
    volumes:
      - ../frontendManager:/app
      - /app/node_modules

volumes:
  mongo_data:
